<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="CollectorsArchive"
             connectionString="Server=tcp:sv-collectorsarchive-server.database.windows.net,1433;Initial Catalog=sv-collectorsarchive-database;Persist Security Info=False;User ID=sv-collectorsarchive-server-admin;Password=Hx2TxV0nlcRAW$HZ;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>